/* general initiation */
body{
margin: 40px 10px;
text-align:center;
font-family:Palatino Linotype;
overflow-x:hidden;
color:#4d3900;
   background: url("../img/bg.jpg") no-repeat  center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}
* {
    box-sizing: border-box;
}

input, textarea, select { 
  margin-top: 0px; display: block;
}

input[type=radio] {
  display: inline;
}

.container-fluid{
max-width:800px;
border-radius:5px;
background:rgba(255, 255, 255,0.3);  /* glass layer effect */
}

#innerLayer{
padding:10px;
border-radius:5px;
margin-top: 10px;
margin-bottom: 10px;
    background: -webkit-linear-gradient( #ffcc00, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #ffcc00, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #ffcc00, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #ffcc00, white); /* Standard syntax */
}


span.glyphicon-arrow-down {
    font-size: 1.2em;
}

.resistorSection{
  padding: 10px;
background: rgba(255, 255, 255,0.4);
}
/* Header animation */
.resitorHeader{
animation-name: headerAnimation;
animation-duration:5s;
animation-iteration-count: infinite;
}
 @keyframes headerAnimation{
    0%   {color:white; }
    25%  {color:violet; }
    50%  {color:#ff4d4d; }
    75%  {color:lime; ;}
    100% {color:white; }
}
@-webkit-keyframes headerAnimation{
    0%   {color:white; }
    25%  {color:violet; }
    50%  {color:#ff4d4d; }
    75%  {color:lime; ;}
    100% {color:white; }
}

/* Resitor Image Initiation */
.pictureSection{
height:140px;
margin-top: 20px;
width:auto;
border:0px solid  #4d3900;
position:relative;
}

.resistorStripeEdges{
height:8px;
width:7%;
display:inline-block;
position:relative;
box-shadow: 2px 2px 1px #888888;
top:-50px;
position:relative;
    background: -webkit-linear-gradient(#fff3cc, white, #fff3cc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff3cc, white, #fff3cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff3cc, white, #fff3cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff3cc, white, #fff3cc); /* Standard syntax (must be last) */
}

#resistorLeft{
left:5px;
z-index: 1;
border-top-left-radius:2px;
border-right-left-radius:2px;
}

#resistorRight{
left:-5px;
z-index: 2;
border-top-right-radius:2px;
border-right-right-radius:2px;
}

.resistorBody{
border-radius:20px;
width:auto;
height:auto;
display:inline-block;
box-shadow: 5px 5px 2px #888888; 
    background: -webkit-linear-gradient(#fff3cc, white, #fff3cc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff3cc, white, #fff3cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff3cc, white, #fff3cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff3cc, white, #fff3cc); /* Standard syntax (must be last) */
position:relative;
z-index: 2;
}

#band1, #band2, #band3, #band4{
background-color:brown;
width:5px;
height:100px;
margin-left:20px;
margin-right:20px;
position:relative;
}

/* Result Section */
#result{
width:95%;
font-size:2em;
position:absolute;
}

#qunitTitle{
color:white; 
}
#qunit{
border-top:10px solid  white;
color:white;
}

/* footer */
footer{
font-size-small;
font-style:italic;
margin-bottom:10px;
}


/* -----------ribbon --------*/
.ribbon-wrapper{
width:120px;
height:120px;
overflow:hidden;
position:absolute;
border:0px solid green;
margin-top:-3px;
margin-left:668px;
}

.ribbon{
 font:bold 15px Sans-Serif;
 color:grey;
 text-align:center;
 text-shadow:grey 0px 1px 0px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
position:relative;
padding:15px 0;
left:-15px;
top:25px;
width:200px;
color:white;
    background: -webkit-linear-gradient( #4d0000,red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #4d0000,red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #4d0000,red); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #4d0000,red); /* Standard syntax */
}


.ribbon:before, .ribbon:after{
content:"";
border-top: 5px solid grey;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
position:absolute;
bottom: -5px
}

.ribbon:before{
left:2px;
}

.ribbon:after{
right:20px;
}

.ribbon a{
text-decoration:none;
color:white;
}

.ribbon:hover{
   background: -webkit-linear-gradient( orange,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( orange,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( orange,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient( orange,white); /* Standard syntax */
}
/*----------ribbon end-------------------*/


/*media responsive sizing*/
@media(max-width:480px) {
       .resistorStripeEdges{
        display:none;
    }
}

@media(max-width:810px) {
       .ribbon-wrapper{
        display: none;
       }
    }
}


